{% extends 'base.html' %}


{% block content %}
<div class="container mt-4">
  <a href="{% url 'todo:todo-task-create' %}" class="btn btn-primary rounded-0">Make A Task</a>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Priority</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for task in task_list %}
    <tr>

      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{% url 'todo:task-detail' task.id %}">{{task.title}}</a> </td>
      <td>{{task.priority}}</td>
      <td> <a href="{% url 'todo:delete' task.id %}" class="btn btn-danger">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}